////////////////////
// page-wcmc.php  //
////////////////////




/* filtered */
.notEmpty.filtered:after {
    bottom: auto;
    color: #FFFFFF;
    left: -2px;
    text-align: center;
    text-shadow: none;
    top: -2px;
    transform: rotate(-90deg);
    width: 100%;
}
.notEmpty.filtered:after, .notEmpty.filtered-bottom:after {
    bottom: 0;
    color: #FFFFFF;
    left: 1px;
    text-align: center;
    text-shadow: 1px 0 2px #000000;
    transform: rotate(90deg);
    width: 100%;
}
.notEmpty.filtered:after, .notEmpty.filtered-top:after, .notEmpty.filtered-right:after, .notEmpty.filtered-bottom:after, .notEmpty.filtered-left:after {
    content: "▸";
    display: block;
    font-size: 2em;
    height: 0;
    line-height: 0;
    position: absolute;
}
.notEmpty.filtered, .notEmpty.filtered-top, .notEmpty.filtered-right, .notEmpty.filtered-bottom, .notEmpty.filtered-left {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F1F1F1);
    text-shadow: 0 1px 0 #FFFFFF;
}

//applied via js when the field has characters in it
div.notEmpty.filtered{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #757575;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    color: #343434;
    float: left;
    margin: 5px;
   	position:static;
    max-height: 600px;
    width: 236px;
    z-index: 4;
    display:initial;
}

//applied via js when the field has characters in it
div.noMatches.filtered{
    display:none;
}

/* #access ul */

#access .notEmpty.filtered ul {
    margin-left: 0;
}
#access ul {
    font-size: 13px;
    list-style: none outside none;
    margin-left: 4px;
    padding-left: 0;
}
.notEmpty.filtered ul, .notEmpty.filtered li {
    list-style: none outside none;
    margin: 0;
    max-height: 590px;
    overflow: hidden;
    padding: 0;
}

/* applied via js when the field has no characters in it*/
div.filtered {
    display: none;
}

div#ac_input_wrapper{
    width:300px;
    margin: 0 auto;
    padding-top:2%;
}

div.wcmc-search form#access{
	width:550px;
    height:50px;

}

div#ac_input_wrapper input#autocomplete1{
    width:auto;
}

body.page-wcmc div#content{
    overflow:visible;
}